html,
body {
   margin:0;
   padding:0;
   height:100%;
}

$icon-font-size: 1.4rem;

.spinner {
  width: 3rem;
  height: 3rem;
  display: block;
  margin: 0 auto;
}

.inline-list {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
  }
}
