html,
body {
   margin:0;
   padding:0;
   height:100%;
}

.spinner {
  width: 3rem;
  height: 3rem;
  display: block;
  margin: 0 auto;
}

.inline-list {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
  }
}

.fi-social-instagram {
  @include color-and-hover(lighten($black, 15%));
}

.fi-social-facebook {
  @include color-and-hover(#3b5998);
}

.fi-social-twitter {
  @include color-and-hover(#4099FF);
}

.fi-social-linkedin {
  @include color-and-hover(#4875B4);
}

.fi-social-github {
  @include color-and-hover(#333);
}

.fi-mail {
  @include color-and-hover($white);
}
