h1, h2, h3, h4, h5, h6 {
  color: $dark-teal;
  a {
    color: $dark-teal;
    &:hover {
      color: $primary-color;
    }
  }
}

h3 img {
  height: 1.8rem;
}

.supraheader {
  color: $medium-grey;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
}

.subheader {
  color: $medium-grey;
  font-weight: 300;
}

h5.subheader {
  text-transform: uppercase;
}

hgroup {
  margin-bottom: 2rem;
}
