@charset 'utf-8';

@import 'settings';
@import 'foundation';
// @import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
// @include foundation-float-classes;
// @include foundation-accordion;
// @include foundation-badge;
// @include foundation-breadcrumbs;
// @include foundation-button-group;
@include foundation-callout;
// @include foundation-close-button;
// @include foundation-drilldown-menu;
// @include foundation-dropdown;
// @include foundation-dropdown-menu;
// @include foundation-flex-video;
// @include foundation-label;
// @include foundation-media-object;
@include foundation-menu;
// @include foundation-off-canvas;
// @include foundation-orbit;
// @include foundation-pagination;
// @include foundation-progress-bar;
// @include foundation-slider;
// @include foundation-sticky;
// @include foundation-reveal;
// @include foundation-switch;
// @include foundation-table;
// @include foundation-tabs;
// @include foundation-thumbnail;
// @include foundation-title-bar;
// @include foundation-tooltip;
// @include foundation-top-bar;

// @include motion-ui-transitions;
// @include motion-ui-animations;

@import 'foundation-icons.scss';

// 01 Base
@import '01-base/config',
        '01-base/mixins',
        '01-base/typography';

// 02 Layout
@import '02-layout/l-default',
        '02-layout/l-header',
        '02-layout/l-footer';

// 03 Components
@import '03-components/card';

.form-container {
  position: relative;
  height: 95%;
  height: 95vh;
  padding-top: 2rem;
  overflow: hidden;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
  }
}

.button {
  font-weight: 700;
}

input {
  &:focus, &:hover {
    border: 1px solid $teal !important;
  }
}

.callout {
  @include material-shadow(1);
}

#project-list {
  margin-bottom: 2rem;
}

.project-tile {
  width: 93.5%;
  transition: all 0.2s ease-in-out;
  &:hover {
    @include material-shadow(2);
  }
}

.category-list {
  margin: 0;
  padding: 0;
  list-style: none;
  a {
    color: $body-font-color;
    &:hover {
      color: $primary-color;
    }
  }
}

.page-wrapper {
  padding: 2rem 0;
}

.fi-social-facebook {
  color: #3b5998;
  &:hover {
    color: darken(#3b5998, 15%);
  }
}

.fi-social-twitter {
  color: #4099FF;
  &:hover {
    color: darken(#4099FF, 15%);
  }
}
.fi-social-linkedin {
  color: #4875B4;
  &:hover {
    color: darken(#4875B4, 15%);
  }
}

.fi-social-github {
  color: #333;
}

.fi-mail {
  color: $white;
}
