@charset 'utf-8';

@import 'settings';
@import 'foundation';
// @import 'motion-ui';

// Index
.marquee-wrapper {
  height: 95vh;
  display: flex;
  text-align: center;
  align-items: center;
}

.marquee-content {
  flex: 0 1 auto;
  hgroup {
    h1 {
      color: $secondary-color;
      font-weight: 700;
    }
    .subheader {
      font-style: italic;
    }
    margin-bottom: 4rem;
  }
  a.button {
    margin-right: 0;
  }
}

.form-container {
  position: relative;
  height: 95%;
  height: 95vh;
  padding-top: 2rem;
  overflow: hidden;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
  }
}

@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
// @include foundation-forms;
// @include foundation-visibility-classes;
// @include foundation-float-classes;
// @include foundation-accordion;
// @include foundation-badge;
// @include foundation-breadcrumbs;
// @include foundation-button-group;
// @include foundation-callout;
@include foundation-close-button;
// @include foundation-drilldown-menu;
// @include foundation-dropdown;
// @include foundation-dropdown-menu;
// @include foundation-flex-video;
// @include foundation-label;
// @include foundation-media-object;
@include foundation-menu;
// @include foundation-off-canvas;
// @include foundation-orbit;
// @include foundation-pagination;
// @include foundation-progress-bar;
// @include foundation-slider;
// @include foundation-sticky;
@include foundation-reveal;
// @include foundation-switch;
// @include foundation-table;
// @include foundation-tabs;
// @include foundation-thumbnail;
// @include foundation-title-bar;
// @include foundation-tooltip;
// @include foundation-top-bar;

// @include motion-ui-transitions;
// @include motion-ui-animations;
