@charset 'utf-8';

@import 'settings';
@import 'foundation';
// @import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-visibility-classes;
// @include foundation-float-classes;
// @include foundation-accordion;
// @include foundation-badge;
// @include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
// @include foundation-drilldown-menu;
// @include foundation-dropdown;
// @include foundation-dropdown-menu;
// @include foundation-flex-video;
// @include foundation-label;
// @include foundation-media-object;
@include foundation-menu;
// @include foundation-off-canvas;
// @include foundation-orbit;
// @include foundation-pagination;
// @include foundation-progress-bar;
// @include foundation-slider;
// @include foundation-sticky;
@include foundation-reveal;
// @include foundation-switch;
// @include foundation-table;
// @include foundation-tabs;
// @include foundation-thumbnail;
// @include foundation-title-bar;
// @include foundation-tooltip;
// @include foundation-top-bar;

// @include motion-ui-transitions;
// @include motion-ui-animations;

@import 'foundation-icons.scss';

// Mixins
@mixin uppercase {
  text-transform: uppercase;
  letter-spacing: .5px;
  font-weight: 500;
}

// Material Shadow Mixin
@mixin material-shadow($depth) {
  @if $depth < 1 {
    box-shadow: none;
  } @else if $depth > 5 {
    @warn "Invalid $depth `#{$depth}` for mixin `material-shadow`.";
  } @else {
    box-shadow: bottom-shadow($depth), top-shadow($depth);
  }
}

/// Computes a top-shadow for a card effect.
/// @param {Number} $depth - depth level
/// @return {List}
@function top-shadow($depth) {
  $primary-offset: nth(1.5 3 10 14 19, $depth) * 1px;
  $blur: nth(1.5 3 10 14 19, $depth) * 4px;
  $color: rgba(black, nth(.12 .16 .19 .25 .30, $depth));

  @return 0 $primary-offset $blur $color;
}

/// Computes a bottom-shadow for a card effect.
/// @param {Number} $depth - depth level
/// @return {List}
@function bottom-shadow($depth) {
  $primary-offset: nth(1.5 3 6 10 15, $depth) * 1px;
  $blur: nth(1 3 3 5 6, $depth) * 4px;
  $color: rgba(black, nth(.24 .23 .23 .22 .22, $depth));

  @return 0 $primary-offset $blur $color;
}

html,
body {
   margin:0;
   padding:0;
   height:100%;
}

header, footer {
  background-color: $warm-grey;
  padding: .5rem 0;
  width:100%;
}

header {
  border-bottom: 1px solid $medium-gray;
  a {
    color: $body-font-color;
  }
}

footer {
  border-top: 1px solid $medium-gray;
}

nav.site-nav {
  a {
    @include uppercase;
  }
}

footer {
  i {
    font-size: 1.4rem;
  }
  .fi-mail {
    color: $medium-grey;
  }
}

li.menu-text {
  @include uppercase;
}

// Index
.marquee-bg {
  height: 100%;
  &#welcome {
    background-size: cover;
  }
}

.marquee-wrapper {
  text-align: center;
  padding: 12rem 0;
}

.marquee-content {
  input {
    margin-bottom: 2.5rem;
  }
}

// Typography

h1, h2, h3, h4, h5, h6 {
  color: $dark-teal;
}

.subheader {
  color: lighten($black, 35%);
  font-weight: 300;
}

hgroup {
  margin-bottom: 2rem;
}

.content-section {
  padding: 6rem 0;
}

.form-container {
  position: relative;
  height: 95%;
  height: 95vh;
  padding-top: 2rem;
  overflow: hidden;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
  }
}

.button {
  font-weight: 700;
}

a.logo {
  background-image: url('/assets/img/no-bg_Prosper.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 200px;
  height: 0px;
  padding: 2rem 0 0 0 !important;
  overflow: hidden;
  display: block;
  box-sizing: border-box;
  margin: .25rem 2rem 0 -1rem;
}

input {
  &:focus, &:hover {
    border: 1px solid $teal !important;
  }
}

.callout {
  @include material-shadow(1);
}

.project-tile {
  width: 100%;
  transition: all 0.2s ease-in-out;
  &:hover {
    @include material-shadow(2);
  }
}

.social-list {
  $icon-font-size: 1.4rem;
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
    &:not(:last-child) {
      margin-right: $icon-font-size/2;
    }
    i {
      font-size: $icon-font-size;
    }
  }
}

.category-list {
  margin: 0;
  padding: 0;
  list-style: none;
  a {
    // color: $body-font-color;
  }
}

.page-wrapper {
  padding: 2rem 0;
}

.fi-social-facebook {
  color: #3b5998;
}

.fi-social-twitter {
  color: #4099FF;
}

.fi-social-linkedin {
  color: #4875B4;
}

.fi-social-github {
  color: #333;
}

.fi-mail {
  color: $white;
}
