/* uncss:ignore */
body.search {
  background-color: $warm-grey;
}

.marquee-wrapper {
  display: table-cell;
  vertical-align: middle;
  // text-align: center;
  width: 100%;
  width: 100vw;
  padding: 12rem 0;
}

.marquee-content {
  margin: 0 auto;
  width: 80%;
  max-width: 900px;
}

.content-section__bg {
  background-color: $warm-grey;
}

.content-section__wrapper {
  @include grid-row(12);
}

.content-section {
  padding: 6rem 0;
  @include breakpoint(medium) {
    @include grid-column(7);
    @include grid-column-position(center);
  }
}

.content-section--last {
  @extend .content-section;
  padding: 6rem 0 9rem 0;
}
