<footer>
  <ul class="menu">
    <li class="menu-text">Built by</li>
    <li><a href="http://prosper.community" class="logo">Prosper</a></li>

    <li class="menu-text">Contact</li>
    <li><a href="john@prosper.community"><i class="fi-mail size-48"></i></a></li>
    <li><a href="https://github.com/prosper-community/refugeeprojects.com"><i class="fi-social-github size-48"></i></a></li>
    <li><a href="https://twitter.com/ProsperComm"><i class="fi-social-twitter size-48"></i></a></li>
    <li><a href="https://www.facebook.com/prospercommunity/"><i class="fi-social-facebook size-48"></i></a></li>
  </ul>
</footer>
