<footer class="site-footer">
  <nav class="site-nav">
    <ul class="menu icon-top expanded">
      <li>
        <a href="/">
          <i class="fi-home"></i>
          <span>Home</span>
        </a>
      </li>
      <li>
        <a href="/search.html">
          <i class="fi-magnifying-glass"></i>
          <span>Search</span>
        </a>
      </li>
      <li>
        <a href="http://gawa.prosper.s3-website-us-east-1.amazonaws.com/map.html" target="_blank">
          <i class="fi-map"></i>
          <span>Map</span>
        </a>
      </li>
      <li>
        <a href="https://docs.google.com/a/prosper.community/forms/d/1TPxDeQfLqScoHgmUYExZH2wP4b0DJgHFtuvXDFWPDoM/viewform" target="_blank">
          <i class="fi-plus"></i>
          <span>Add Project</span>
        </a>
      </li>
      <li>
        <a href="/about.html">
          <i class="fi-info"></i>
          <span>About</span>
        </a>
      </li>
    </ul>
  </nav>
</footer>
