<header>
  <nav class="site-nav">
    <ul class="menu">
      <li>
        <a href="/">
          Home
        </a>
      </li>
      <li>
        <a href="/app.html">
          App
        </a>
      </li>
      <li>
        <a href="https://docs.google.com/a/prosper.community/forms/d/1TPxDeQfLqScoHgmUYExZH2wP4b0DJgHFtuvXDFWPDoM/viewform" data-open="formModal" aria-controls="formModal" id="vy7u1y-reveal" aria-haspopup="true" tabindex="0">Add Project</a>
      </li>
      <li>
        <a href="/about.html">
          About
        </a>
      </li>
    </ul>
  </nav>
</header>
