.card {
  @extend .callout;
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
  hr {
    margin: .5rem 0;
  }
  overflow-wrap: break-word;
  word-wrap: break-word;

  .social-list {
    font-size: 1rem;
    @include breakpoint(medium) {
      float: right;
    }
  }
}

.card--white {
  @extend .card;
  background-color: $white;
}
