$icon-font-size: 2rem;

.social-list {
  @extend .inline-list;
  font-size: $icon-font-size;
  li {
    &:not(:last-child) {
      margin-right: $icon-font-size;
      @include breakpoint(medium) {
        margin-right: $icon-font-size/2;
      }
    }
  }
}
